 <div class="container m-4">
<table class="table table-bordered ">
  <tr>
    <td><%= link_to "Current Number of Products", '/admin/products' %></td>
    <td>Current Number of Product Category</td>
  </tr>
  <tr>
    <td><%=  @product_count %></td>
    <td><%=  @category_count %></td>
  </tr>
</table>
</div>